/* Este contenedor ahora será el dueño de la pantalla */
.app-container {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important; 
  gap: 20px !important;
  padding: 40px;
  background-color: #121212; /* El fondo oscuro de Disney */
  min-height: 100vh; /* Para que cubra toda la pantalla */
  justify-content: center;
}

.card-item {
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  color: white;
}

.card-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}